.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

.show-cards-container {
    margin-left: auto;
    margin-right: auto;
    width: 80rem;
    display: grid;
    grid-row: auto;
    grid-template-columns: auto auto;
}